{% extends "base.html" %}
{% block content %}
    {% for blog in blogs %}
        <!-- Main -->
        <div id="main">
            <!-- Post -->
            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="{% url 'detailblog' blog.id %}">{{ blog.caption }}</a></h2>
                        <p>{{ blog.describe }}</p>
                    </div>
                    <div class="meta">
                        <time class="published"
                              datetime="2015-11-01">{{ blog.publish_time|date:"Y-m-d  H:m:s D" }}</time>
                        <a href="#" class="author"><span class="name">{{ blog.author.name }}</span><img
                                src="../static/images/avatar.jpg" alt=""/></a>
                    </div>
                </header>
                <a href="#" class="image featured"><img src="../static/images/pic01.jpg" alt=""/></a>
                <p class="passage">{{ blog.content }}</p>
                <footer>
                    <ul class="actions">
                        <li><a href="{% url 'detailblog' blog.id %}" class="button small">详情</a></li>
                    </ul>
                    <ul class="stats">
                        <li><a href="#">{{ blog.catagory.name }}</a></li>
                        <li><a href="#" class="icon fa-heart">28</a></li>
                        <li><a href="{% url 'detailblog' blog.id %}" class="icon fa-comment">128</a></li>
                    </ul>
                </footer>
            </article>

            <!-- Post -->
            <!-- Pagination -->
            <ul class="actions pagination">
                {% if blogs.has_previous %}
                    <li><a href="?page={{ blogs.previous_page_number }}" class="button small previous">上一页</a></li>
                {% endif %}
                <span style="margin: 100px;background: #fff;padding: 16px;border: solid 1px #ccc;">
                {{ blogs.number }}
{#                of {{ blogs.paginator.num_pages }}#}
            </span>
                {% if blogs.has_next %}
                    <li><a href="?page={{ blogs.next_page_number }}" class="button small next">下一页</a></li>
                {% endif %}
            </ul>
        </div>


        <section id="sidebar">
            <!-- Intro -->
            <section id="intro">
                <a href="#" class="logo"><img src="../static/images/logo.jpg" alt=""/></a>
                <header>
                    <h2>记录点滴</h2>
                    <p>伟大而渺小的梦想</p>
                </header>
            </section>

            <!-- Mini Posts -->
            <section>
                <div class="mini-posts">

                    <!-- Mini Post -->
                    <article class="mini-post">
                        <header>
                            <h3><a href="{% url 'detailblog' blog.id %}">{{ blog.caption }}</a></h3>
                            <time class="published"
                                  datetime="2015-10-20">{{ blog.publish_time|date:"Y-m-d H:m:s D" }}</time>
                            <a href="#" class="author"><img src="../static/images/avatar.jpg" alt=""/></a>
                        </header>
                        <a href="#" class="image"><img src="../static/images/pic04.jpg" alt=""/></a>
                    </article>
                </div>
            </section>

            <!-- Posts List -->
            <section>
                <ul class="posts">
                    <li>
                        <article>
                            <header>
                                <h3><a href="{% url 'detailblog' blog.id %}">{{ blog.caption }}</a></h3>
                                <time class="published"
                                      datetime="2015-10-20">{{ blog.publish_time|date:"Y-m-d  H:m:s D" }}</time>
                            </header>
                            <a href="#" class="image"><img src="../static/images/pic08.jpg" alt=""/></a>
                        </article>
                    </li>
                </ul>
            </section>

            <!-- About -->
            <section class="blurb">
                <h2>关于</h2>
                <p>这个网站只是自己学习Django过程中的一个小项目，好多功能还在陆续加入中，现在只实现分页展示博客，查看博客详情</p>
                <ul class="actions">
                    <li><a href="#" class="button">了解更多</a></li>
                </ul>
            </section>

            <!-- Footer -->
            <section id="footer">
                <ul class="icons">
                    <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
                    <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <p class="copyright">&copy; copyright by Hamioo 2018</p>
            </section>

        </section>
    {% endfor %}
{% endblock %}

